<div class="container">
  <h2>Equipment in store</h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{col | uppercase}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of equipments">
          <td>{{equipment.id}}</td>
          <td>
            <a routerLink="/equipment-details/{{equipment.id}}">
            {{equipment.name}}
            </a>
            <span class="negative-label" *ngIf="hasPendingIssues(equipment)">Pending issues</span>
          </td>
          <td>{{equipment.category}}</td>
          <td>
            <span class="badge">{{equipment.issues.length}}</span>
          </td>
          <td>
            <span class="badge">{{equipment.comments.length}}</span>
          </td>
      </tr>
    </tbody>
  </table>
</div>
