<div *ngIf="selectedEquipment" class="container">
  <h2>Equipment Details</h2>

  <div class="form-group">
    <label>Name:
      <input class="form-control" [(ngModel)]="selectedEquipment.name" placeholder="name"/>
    </label>
  </div>

  <div class="form-group">
    <label>Category:
      <select class="form-control" [(ngModel)]="selectedEquipment.category">
        <option *ngFor="let category of categories" value={{category}}>
          {{category}}
        </option>
      </select>
    </label>
  </div>

  <div class="form-group">
    <label>Parameters: </label>
    <button class="float-right" (click)="addParameter()">Add</button>
    <table class="table">
      <tbody>
      <tr *ngFor="let parameter of selectedEquipment.parameters; let i = index" [attr.data-index]="i">
        <td><label><input [(ngModel)]="parameter.name" placeholder="name"/></label></td>
        <td><label><input [(ngModel)]="parameter.value" placeholder="value"/></label></td>
        <td>
          <button class="float-right" (click)="deleteParameter(i)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <label>Issues: </label>
    <button class="float-right">Start new issue</button>
    <table class="table" *ngIf="selectedEquipment.issues.length">
      <tbody>
      <tr *ngFor="let issue of selectedEquipment.issues">
        <td><label>{{issue.title}}</label></td>
        <td><label
          [ngClass]="{'negative-label': isPending(issue), 'positive-label': isResolved(issue)}">{{issue.status}}</label>
        </td>
        <td><label>{{issue.creationDate}}</label></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <label>Comments: </label>
    <button class="float-right">Add comment</button>
    <ul class="list-group" *ngIf="selectedEquipment.comments.length">
      <div *ngFor="let comment of selectedEquipment.comments">
        <div class="container">
          <div class="small">{{comment.author}} wrote at {{comment.publicationDate}}</div>
          <p>{{comment.comment}}</p>
        </div>
      </div>
    </ul>
  </div>
  <div class="btn-group">
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
  </div>
</div>
