.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1020;
}

.footer-size {
  max-height: 60px;
}

.header-size {
  max-height: 150px;
}

.main {
  min-height: calc(100vh - 60px);
}
